<h1 class="parcc-title <%= bem("hero__title", :article, :push) %> header-with-delimiter" style="margin-bottom: 2.5rem">
  PARCC West Africa
  <% if @cms_site.path == "fr" %>
    <img class="parcc-title__logo" src="<%= image_path('parcc-logo-fr.jpg') %>" alt="">
  <% else %>
    <img class="parcc-title__logo" src="<%= image_path('parcc-logo-title.png') %>" alt="">
  <% end %>
</h1>
