<button class="big-button big-button--alt-colors" onclick="window.location.href='<%= protected_planet_path(:search)  %>'">
  <% if @cms_site.path == "fr" %>
    <i class="fa fa-align-left big-button__icon"></i>Liste des aires protégées
  <% else %>
    <i class="fa fa-align-left big-button__icon"></i>Protected Areas list
  <% end %>
</button>
