<button class="big-button big-button--alt-colors u-width-100" onclick="window.location.href='<%= report_url(@cms_site) %>'">
  <% if @cms_site.path == "fr" %>
    <i class="fa fa-download big-button__icon"></i>Télécharger le rapport PARCC
  <% else %>
    <i class="fa fa-download big-button__icon"></i>Download the PARCC report
  <% end %>
</button>
