<div class="fifty left">
  <h2> Species vulnerable to climate change </h2>
  <p class="subtitle"> According to Traits-based Vulnerability Assessments (TVAs) </p>
  <div class="line medium"></div>
  <%= render "tva_table" %>
  <div class="percentage-bar">
    <div class="percentage" style="width: <%= @protected_area.percentage_vulnerable_species %>%"></div>
  </div>

  <% percentage = @protected_area.percentage_vulnerable_species %>
  <% if percentage == 0 %>
    <p class="subtitle">None of the bird, amphibian, and mammal species assessed are considered vulnerable to climate change</p>
  <% else %>
    <p class="subtitle"><%= percentage %> % of bird, amphibian, and mammal species assessed are considered vulnerable to climate change</p>
  <% end %>
</div>
