.logos {
  padding: 1rem 2rem;
  text-align: center;
}

.logos__half {
  display: inline-block;
  padding: 0 .625rem;

  &:not(:last-child) { border-right: solid 1px #f2f2f2; }
}

.logos__logo {
  height: 5rem;
  margin: 0 .625rem;
  width: auto;
}

.logos__logo--smaller {
  height: 2.5rem;
}
